.git
.github
.env
.env.*
config.json
content_cache
coverage
database_reports
docker-compose*.yml
habitica-images
i18n_cache
mongodb-data*
node_modules
npm-debug.log*
test
website/build
website/common/transpiled-babel
website/client/dist
website/client/node_modules
website/transpiled-babel
